@font-face {
  font-family: LemonTuesday;
  src: url(../fonts/LemonTuesday.otf);
 }
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    background-color: white;
  }
a {
    text-decoration: none;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  font-size: 14px;
}
.info {
  border-bottom: 1px solid #a09e9e;
}
.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 15px;
}
.info-logo {
  flex-shrink: 0;
  padding-top: 10px;
}
.info-adress {
  margin-left: 75px;
  font-size: 12px;
  position: relative;
}
.info-adress::before {
  content: "";
  width: 15px;
  height: 17px;
  position: absolute;
  top:13px;
  left: -20px;
  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
}
.info-mail {
  margin-left: auto;
  margin-right: 80px;
    font-size: 12px;
    position: relative;
}
.info-mail::before {
  content: "";
  width: 14px;
  height: 12px;
  position: absolute;
  top:15px;
  left: -20px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
}
.info-contacts {
  display: inline-block;
  width: 150px;
  margin-right: 25px;
}
.phone {
  font-weight: 700;
  font-size: 18px;
}
.time {
  font-size: 10px;
}
.contacts-button {
  cursor: pointer;
  padding: 10px 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: #84c604;
  border-radius: 5px;
  border-color: #84c604;
}
.header-navigation {
  display: flex;
}
.site-navigation-link,
.user-navigation-link {
   text-transform: uppercase;
   font-weight: 600;
   color: #010101;
   padding: 15px 35px;
}
.site-navigation-item:first-child .site-navigation-link {
  padding-right: 45px;
  padding-left: 30px;
}
.site-navigation-item:first-child {
  position: relative;
}
.site-navigation-item:first-child::after {
  content:"";
  width: 15px;
  height: 10px;
  top:7px;
  left: 19px;
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  position: absolute;
}
.site-navigation-link:hover,
.user-navigation-link:hover {
  background-color: #84c604;
  color: white;
}
.user-navigation-link {
  padding: 15px 30px;
    padding-left: 50px;
}
.site-navigation {
  list-style: none;
  padding: 0;
  display: flex;
}
.user-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: auto;
}
.user-navigation-item {
  position: relative;
}
.user-navigation-item:first-child::before {
  content:"";
  width: 25px;
  height: 25px;
  top:0;
  left: 5px;
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
  position: absolute;
}
.user-navigation-item:nth-child(2)::before {
  content:"";
  width: 25px;
  height: 24px;
  top:0;
  left: 10px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  position: absolute;
}
.user-navigation-item:nth-child(2)::after {
  content:"2";
  width: 10px;
  height: 10px;
  top:0;
  left: 10px;
  border-radius: 2px;
  background-color: #fd4f10;
  position: absolute;
}
.offers {
  color: white;
  background-color: #2d2132;
  background-image: url("../img/sushi-fon.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding-bottom: 65px;
  margin-bottom: 95px;
  padding-top: 20px;
}
.controls {
  display: flex;
  justify-content: space-between;
}
.controls-button {
  cursor: pointer;
  position: relative;
  background-color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid white;
  opacity: 0.6;
}
.controls-button-left {
  left: -70px;
}
.controls-button-left::after {
  content: "";
  background-image: url("../img/right-left.png");
  position: absolute;
  top: 5px;
  left: 6px;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
}
.controls-button-right::after {
  content: "";
  background-image: url("../img/right-left.png");
  position: absolute;
  top: 5px;
  right: 6px;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.controls-button-right {
  right: -70px;
}
.offer-container {
  display: flex;
}
.offer-title {
  font-size: 107px;
  line-height: 100px;
  color: #84c604;
  font-family: "LemonTuesday";
  width: 550px;
  margin-bottom: 5px;
  font-weight: 400;
}
.offer-text {
  font-size: 26px;
  font-style: italic;
  margin-bottom: 80px;
  font-weight: 300;
}
.discount {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fd4f10;
    padding: 40px 10px;
    border-radius: 50%;
    width: 120px;
    text-align: center;
    line-height: 30px;
    padding-bottom: 35px;
    align-self: center;
    margin-left: 35px;
    margin-bottom: 5px;
}
.offer-button {
  font-size: 16px;
  text-transform: uppercase;
    background-color: #fd4f10;
    padding: 15px 75px;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
}
.slider {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95px;
  margin:0 auto;
  margin-top: 90px;
}
.slider-button {
  height: 17px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
    background-color: transparent;
    opacity: 0.7;
}
.slider-button-current {
  background-color: #84c604;
}
.title {
  color: #32505a;
  font-size: 59px;
  line-height: 28px;
  font-family: "LemonTuesday";
  text-align: center;
  position: relative;
  width: max-content;
  margin: 30px auto;
  margin-bottom: 60px;
  font-weight: 400;
}
.title::before {
  content: "";
  width: 109px;
  height: 40px;
  position: absolute;
  top: -8px;
  left: -145px;
  background-image: url("../img/uzor-left.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.title::after {
  content: "";
  width: 109px;
  height: 40px;
  position: absolute;
  top: -8px;
  right: -145px;
  background-image: url("../img/uzor-right.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: -29px;
  flex-wrap: wrap;
}
.product-item {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #a09e9e;
  width: 263px;
  background-color: white;
  margin-bottom: 25px;
  position: relative;
}
.product-img {
  height: 228px;
  display: flex;
}
.product-item img {
  align-self: center;
  margin: auto;
}
.product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 25px;
}
.product-info {
  font-weight: 300;
  text-align: center;
}
.product-info span {
  margin-right: 8px;
  position: relative;
}
.product-info span:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: #000000;
  right: -5px;
    top: 4px;
    position: absolute;
}
.product-wrapper {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.price {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 40px;
}
.price sup {
  font-size: 14px;
}
.amount {
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.amount-input {
  box-sizing: border-box;
  width: 10px;
  border: none;
}
.plus {
  border-radius: 50%;
  height: 15px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
}
.plus::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: gray;
  left: 4px;
    top: ;
    position: absolute;
}
.plus::after {
  content: "";
  width: 1px;
  height: 7px;
  background-color: gray;
  right: ;
    top: 3px;
    position: absolute;
}
.minus {
  border-radius: 50%;
    height: 15px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.minus::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: gray;
  left: 4px;
    top: ;
    position: absolute;
}
.button {
  font-size: 14px;
  line-height: 28px;
  align-self: center;
  background-color: #fd4f10;
  color: white;
  padding: 7px 30px;
  padding-right: 83px;
  border-radius: 8px;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  border: none;
}
.button::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 33px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  margin:0 auto;
  padding: 0;
  line-height: 18px;
  list-style: none;
  margin-bottom: 80px;
}
.pagination-button {
 display: block;
 box-sizing: border-box;
 width: 27px;
 height: 20px;
 background-image: url("../img/next.png");
 background-repeat: no-repeat;
 cursor: pointer;
}
.back {
 margin: 0 12px 0 0;
 cursor: auto;
 opacity: 0.3;
 transform: rotate(180deg);
}
.next {
 margin-left: 13px;
}
.pagination-item {
 vertical-align: middle;
 text-align: center;
}
.pagination-item a {
 display: block;
 box-sizing: border-box;
 width: 8px;
 height: 8px;
 padding-top: 6px;
 line-height: 16px;
 border-radius: 50%;
 background-color: #a09e9e;
}
.pagination-item-current a {
  background-color: #84c604;
}
.product-sause {
  display: flex;
  flex-wrap: wrap;
  margin: 0 35px;
}
.sause-add {
  margin-bottom: 15px;
}
.sause {
  width: 200px;
  box-sizing: border-box;
  height: 25px;
  border: none;
  font-size: 12px
}
.sause-input {
  box-sizing: border-box;
  width: 40px;
  border-radius: 5px;
  background-color: #a09e9e;
  margin-left: 8px;
  margin-right: 17px;
  border: none;
  opacity: 0.2;
}
.sause-price {
  position: relative;
  top:-5px;
}
.sause-plus {
  background-color: red;
  width: 18px;
  height: 18px;
    border: none;
    border-radius: 3px;
  position: relative;
}
.sause-plus::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: white;
  left: 4px;
    top: ;
    position: absolute;
}
.sause-plus::after {
  content: "";
  width: 1px;
  height: 7px;
  background-color: white;
  right: ;
    top: 4px;
    position: absolute;
}
.new-title {
  display: inline-block;
  margin-bottom: 45px;
}
.new-title a {
  color: gray;
}
.new-title-current {
  margin-right: 60px;
}
.new-title-current a {
  color: #fd4f10;
}
.new-product {
  background-color: #fafafa;
  padding-top: 50px;
  background-image: url("../img/new-fon.png");
  padding-bottom: 5px;
}
.new-product .product-item::before {
  content: "new";
  left: 10px;
    top: 25px;
    position: absolute;
  width: 20px;
  height: 10px;
  transform: rotate(-45deg);
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.hit::after {
  content: "хит";
  right: 15px;
    top: 20px;
    position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  padding: 15px;
  background-color: #fd4f10;
  border-radius: 50%;
  font-size: 16px;
}
.veg::after {
  content: "veg";
  right: 15px;
    top: 20px;
    position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: green;
  padding: 15px;
  border-radius: 50%;
  font-size: 16px;
}
.hot::after {
  content: "";
  right: 27px;
    top: 30px;
    position: absolute;
  width: 27px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../img/fire.png");
}
.hot::before {
  content: "";
  right: 15px;
    top: 20px;
    position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fd4f10;
  border-radius: 50%;
  padding: 15px;
}
.features {
  margin-bottom: 85px;
  padding-top: 80px;
}
.features .title {
  margin-bottom: 90px;
}
.features-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: -35px;
  flex-wrap: wrap;
  padding: 0;
}
.features-item {
  font-size: 16px;
  line-height: 28px;
  color:#4c4c4c;
  width: 200px;
  padding-top: 80px;
  margin-left: 35px;
  text-align: center;
  position: relative;
  margin-bottom: 13px;
}
.features-item-kitchen::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/kitchen.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-dish::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/dish.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-money::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-like::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-fish::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/fish.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-rice::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/rice.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-octopus::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/octopus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-knife::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/knife.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-pizza::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/pizza.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-leaf::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.reviews {
  margin-bottom: 90px;
}
.reviews .title {
  margin-bottom: 68px;
}
.reviews-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.reviews-item {
  width: 260px;
  margin-left: 30px;
  border: 1px solid gainsboro;
  padding: 42px 49px;
  margin-bottom: 20px;
}
.user-vk {
  display: flex;
  margin-bottom: 25px;
}
.user-vk-info {
  margin-left: 16px;
}
.user-vk-name {
 
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.user-vk-name a {
  color: blue;
}
.user-vk-date {
  color: gray;
}
.review-text {
  font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}
.reviews-item img {
  margin-bottom: 30px;
}
.vk-tools {
  border-top: 1px solid #a09e9e;
}
.feedback {
  background-color: #606174;
  background-image: url("../img/feedback-fon.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  margin-bottom: 88px;
  padding: 55px 0;
  line-height: 30px;
  display: flex;
}
.feedback-container {
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  margin-bottom: 8px;
}
.feedback-qwestion {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 20px;
}
.feedback-qwestion b {
  font-family: "LemonTuesday";
  font-weight: 400;
  font-size: 51px;
  line-height: 55px;
  display: block;
}
.feedback-form {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 24px;
}
.feedback input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid white;
    box-sizing: border-box;
    width: 245px;
    font-size: 14px;
    font-weight: 300;
  padding: 10px 15px;
  color: white;
}
.feedback input:not(:first-child) {
  margin-left: 40px;
}
.feedback input:hover,
.feedback input:focus {
  background-color: #fafafa;
  opacity: 0.1;
}
.feedback-button {
  font-size: 14px;
  line-height: 28px;
  align-self: center;
  background-color: #fd4f10;
  padding: 10px 54px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: white;
  margin-left: 45px;
}
.about .title {
  margin-bottom: 90px;
}
.about-wrapper {
  display: flex;
  margin-bottom: 65px;
}
.about-paragraph b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #32505a;
  display: block;
  margin-bottom: 35px;
}
.about-paragraph p {
  font-size: 14px;
  line-height: 20px;
  color:#4c4c4c;
  margin-bottom: 20px;
}
.about-wrapper img {
  align-self: center;
  margin-top: -50px;
  margin-left: 50px;
}
.main-footer {
  color: #6b96a5;
  background-color: #1a2d34;
  line-height: 24px;
}
.footer-container {
  padding: 55px 0;
}
.main-footer a {
  color: #6b96a5;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
}
.footer-products {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-right: 120px;
}
.footer-products a {
  color: white;
}
.nav-caption {
  margin-bottom: 10px;
}
.nav-caption a {
  color: white;
  font-size: 14px;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.footer-sets {
  list-style: none;
  padding: 0;
  width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    justify-content: center;
}
.footer-rolls {
  list-style: none;
  padding: 0;
}
.footer-wok {
  list-style: none;
  padding: 0;
}
.footer-pizza {
  list-style: none;
  padding: 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer-copyright {
  text-transform: uppercase;
  margin-right: 130px;
}
.footer-agreement {
  text-decoration: underline;
  margin-right: auto;
}
.footer-social {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: -10px;
}
.social-item {
  margin-left: 10px;
}
.social-button {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0;

  vertical-align: middle;

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.8;
}
.instagram {
  background-image: url("../img/instagram.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook {
  background-image: url("../img/fb.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.vk {
  background-image: url("../img/vk.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}