@font-face {
  font-family: LemonTuesday;
  src: url(../fonts/LemonTuesday.otf);
 }
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    background-color: white;
  }
a {
    text-decoration: none;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  font-size: 14px;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
}
.info-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.phone {
  font-weight: 700;
}
.header-navigation {
  display: flex;
}
.site-navigation-link,
.user-navigation-link {
   text-transform: uppercase;
   font-weight: 600;
   color: #010101;
   padding: 15px 30px;
}
.site-navigation {
  list-style: none;
  padding: 0;
  display: flex;
}
.user-navigation {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: auto;
}
.offers {
  color: white;
  background-color: #2d2132;
  background-image: url("../img/sushi-fon.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}
.offer-title {
  font-size: 110px;
  line-height: 100px;
  color: #84c604;
  font-family: "LemonTuesday";
}
.offer-text {
  font-size: 26px;
  font-style: italic;
}
.discount {
  position: absolute;
}
.offer-button {
  font-size: 16px;
}
.slider {
  list-style: none;
  padding: 0;
}
.title {
  color: #32505a;
  font-size: 60px;
  line-height: 28px;
  font-family: "LemonTuesday";
  text-align: center;
  position: relative;
  width: max-content;
  margin: 30px auto;
}
.title::before {
  content: "";
  width: 109px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -130px;
  background-image: url("../img/uzor-left.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.title::after {
  content: "";
  width: 109px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -130px;
  background-image: url("../img/uzor-right.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.product-item {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #a09e9e;
  width: 263px;
  background-color: white;
}
.product-item img {
  align-self: center;
}
.product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
}
.product-info {
  font-weight: 300;
  text-align: center;
}
.product-info span {
  margin-right: 5px;
}
.product-info span:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: #000000;
}
.product-wrapper {
  display: flex;
  margin-bottom: 25px;
}
.price {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 0 40px;
}
.price sup {
  font-size: 14px;
}
.amount {
  font-size: 14px;
  line-height: 28px;
}
.button {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  align-self: center;
  background-color: #fd4f10;
  color: white;
  padding: 7px 30px;
  padding-right: 50px;
  border-radius: 8px;
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
}
.button::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.product-sause {

}
.new-product {
  background-color: #fafafa;
}
.features-list {
  list-style: none;
  display: flex;
  margin-left: -35px;
  flex-wrap: wrap;
  padding: 0;
}
.features-item {
  font-size: 16px;
  line-height: 28px;
  color:#4c4c4c;
  width: 200px;
  padding-top: 80px;
  margin-left: 35px;
  text-align: center;
  position: relative;
}
.features-item-kitchen::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/kitchen.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-dish::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/dish.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-money::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-like::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/like.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-fish::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/fish.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-rice::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/rice.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-octopus::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/octopus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-knife::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/knife.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-pizza::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/pizza.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.features-item-leaf::before {
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 60px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.reviews-list {
  list-style: none;
  padding: 0;
  display: flex;
}
.feedback {
  background-color: #606174;
  background-image: url("../img/feedback-fon.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-wrapper {
  display: flex;
}
.about-paragraph b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #32505a;
}
.about-paragraph span {
  font-size: 14px;
  line-height: 28px;
  color:#4c4c4c;
  display: block;
}
.about-wrapper img {
  align-self: center;
}
.main-footer {
  color: #6b96a5;
  background-color: #1a2d34;
  line-height: 24px;
}
.main-footer a {
  color: #6b96a5;
}
.footer-navigation {
  display: flex;
  justify-content: space-between;
}
.footer-products {
  list-style: none;
  padding: 0;
  font-size: 14px;
}
.footer-products a {
  color: white;
}
.nav-caption a {
  color: white;
  font-size: 14px;
}
.footer-sets {
  list-style: none;
  padding: 0;
}
.footer-rolls {
  list-style: none;
  padding: 0;
}
.footer-wok {
  list-style: none;
  padding: 0;
}
.footer-pizza {
  list-style: none;
  padding: 0;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-copyright {
  text-transform: uppercase;
}
.footer-agreement {
  text-decoration: underline;
}
.footer-social {
  list-style: none;
  padding: 0;
}
.social-button {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0;

  vertical-align: middle;

  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.8;
}
.instagram {
  background-image: url("../img/instagram.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook {
  background-image: url("../img/fb.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.vk {
  background-image: url("../img/vk.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
}